@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root  {
    --yellow:   #e9bd5f;
    --pink:     #e940e9;
    --green:    #2fb1b1;
    --blue:     #6a53f0;
    --medblue:  #2196F3;
    --offwhite: #f8fafa;
    --greyed:   #dce6e5e0;
    --ltgray:   #c2c0c5;
    --medgray:  #3d4244;
    --dkgray:   #2a292b;
    --black:    #000000;
    --dkgreen:  #34db28;
    --dkred:    #cf1d67;
    --icolor:   white;
    --ihover:   white;

}
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons{
    vertical-align: middle;
    display: inline;
}
.container {
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--offwhite);
    width: 1000px;
    margin: auto;
    border: 5px solid var(--medgray);
    border-radius: 20px;
 }
.header{
    height: 60px;
    padding: 0 20px 0 20px;
    background-color: var(--offwhite);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* ********** NAV SIDEBAR ***********/
.navarea{
    height: 120px;
    display: grid;
    grid-template-columns: repeat(5 1fr);
    background-color: var(--offwhite);
    font-size: 16px; 
    width: 100%;
    max-width: 960px; 
    height:100px;
}
.navdiv{
    color: var(--dkgray);
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-right:1px solid var(--ltgray);
    border-bottom:1px solid var(--ltgray);
    border-top: 2px solid var(--ltgray);
    cursor:pointer;
 }
 .navdiv:hover{
     color: var(--ihover);
 }
 .active{
    background-color: white;
    border-bottom: none;
 }
#nav-0{
    grid-column: 1;
    margin-left:20px;
}
#nav-1{
    grid-column: 2;
}   
#nav-2{
    grid-column: 3;
  
}
#nav-3{
    grid-column: 4;
   
}
#nav-4{
    grid-column: 5;
    
}
.iconcolor{
    color: var(--icolor);
}

/**********CONTENT*************/
.content{
    display:grid;
    grid-template-columns: 1fr 5fr;
    margin-left: 20px;
    width: 100%;
    max-width: 960px;
    min-height: 500px;
    max-height: 500px;
    background-color:var(--icolor);
    border-bottom: 5px solid var(--medgray);
    border-radius: 10px;
}
/***********SIDE***************/
.sidediv{
    grid-column: 1;
    border:none;
    padding-left: 30px;
}
.addbtn{
    position: absolute;
    top: 250px;
    border-radius: 10px;
    border: 2px solid var(--icolor);
    height: 60px;
    width:  100px;
    color: var(--dkgray);
    font-weight: 600;
    background-color: white;
    cursor:pointer;
} 
.addbtn:hover{
    background-color: var(--icolor);
}
.pagediv{
    grid-column: 2;
    margin-top: 70px;
    padding-left: 50px;
}
.dataLine{
    display: grid;
    grid-template-columns: 300px 58px 58px 58px;
    border-bottom: 1px solid var(--blue);
    padding: 10px 0 10px 20px;
}
.line {
   grid-column: 1;
   display: inline; 
 }
.impValue{
    grid-column: 2;
    margin-top: 5px;
    display: inline; 
    color:  var(--pink);
    margin-top: 5px;
    cursor: pointer;
}
.deleterequest{
    grid-column: 3;
    margin-top: 5px;
    display: inline; 
    color: var(--dkred);
    cursor: pointer;
    opacity: .6;
}
.editrequest{
    grid-column: 4;
    display: inline;
    margin-top: 5px;
    color: var(--dkgreen);
    cursor: pointer;
    opacity: .6; 
}
.deleterequest:hover{
    opacity: 1;
}
.editrequest:hover{
    opacity: 1;
}
/*******POP UP FORM *******/
.enterBookPopup {
    position: relative;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 60%;
    top: 25%;
    transform: translate(-50%, 5%);
    border-radius: 20px;
    z-index: 9;
  }
  .formContainer {
    width:300px;
    height: 300px;
    padding: 20px;
    border: 4px solid var(--blue);
    border-radius: 20px;
    background-color: white;
    color: var(--dkgray);
  }
  .formContainer input[type=text]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    border-radius: 5px;
    background: var(--offwhite);
  }
  .formContainer input[type=text]:focus {
    background-color: rgb(212, 241, 255);
    outline: none;
  }
 .icondiv{
     padding-bottom: 20px;
 }
 input[type=checkbox] {
    display: none;
}
 input[type=checkbox] + section .material-icons::before {
     content: 'star_border';
}
 input[type=checkbox]:checked + section .material-icons::before {
    content: 'star';
    color: var(--pink);
}
.staricon{
     display: inline;
     padding: 0 150px 0 0;
     cursor: pointer;
     color: var(--pink);
 }
 .staricon :hover{
     opacity: .5;
 }
.submiticon{
    display: inline;
    cursor: pointer;
    padding-right: 20px;
    color: var(--dkgreen);
    opacity: .5;
}
.closeicon{
    display: inline;
    cursor: pointer;
    color: var(--dkred);
    opacity: .5;
}
.closeicon:hover{
    opacity: 1;
}
.submiticon:hover{
    opacity: 1;
}
.taskentry{
      display:block;
      padding-bottom: 20px;
      
  }
.task{
      display: inline;
      
}
.due{
    display: inline;
    padding-right: 20px;
    
}
.dateicon{
    display: inline;
    background-color: var(--offwhite);
    font-size: 18px;
    border: 1px solid var(--blue);
    
}
.addToDay{
   position: relative;
   vertical-align: middle;
   padding: 20px 0 30px 0;
   
}
.checkcontainer{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    width: 150px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkcontainer input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid var(--ltgray);
    background-color: var(--offwhite);
}
.checkcontainer:hover input ~ .checkmark {
    background-color: var(--greyed);
  }
.checkcontainer input:checked ~ .checkmark {
    background-color: var(--blue);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkcontainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
.textarea{
    background: var(--greyed);
    font-size: 16px;
    font-family:'PTsans', sans-serif;
    width: 90%;
    height: 100px;
    border-radius: 5px;
}
